.button {
  @apply p-2 h-[45px] font-label font-bold rounded-md;
}

.fullWidth {
  width: 100%;
}

.outlined {
  background-color: #ffffff;
  border: 1px solid rgb(16 83 183);
  color: rgb(16 83 183);
}