.button {
  @apply bg-blue-100 text-white p-2 h-[45px] font-label font-bold rounded-md;
  max-width: 190px;
}

.fullWidth {
  width: 100% !important;
}

.outlined {
  background-color: #ffffff !important;
  border: 1px solid rgb(16 83 183) !important;
  color: rgb(16 83 183) !important;
}