BASE_API_URL=http://localhost:4009
NEXTAUTH_SECRET="your-jwt-secret-key"
NEXTAUTH_URL="http://localhost:3001"

# GOOGLE OAUTH
GOOGLE_OAUTH_ID="your-google-oauth-id"
GOOGLE_OAUTH_SECRET="your-google-oauth-secret"

# STRIPE
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="your-stripe-publishable-key"
STRIPE_SECRET_KEY="your-stripe-secret-key"